@tailwind base;
@tailwind components;
@tailwind utilities;


/* css reset */

*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

ul,
li {
  margin: 0;
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}
